{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}KYSA Meetup Finder{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'test/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'test/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'test/owl.carousel.css' %}"> 
    <link rel="stylesheet" href="{% static 'test/owl.theme.css' %}"> 
    <link rel="stylesheet" href="{% static 'test/style.css' %}">
    

    {% block stylesheet %}{% endblock %}  
  </head>
  <body>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/vegas.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/smoothscroll.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    
<section id="navbar">
<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">
          <a href="" class="navbar-brand smoothScroll">Welcome to KYSA</a>
    </a>
        <ul class="nav navbar-header ml-auto" style="font-size: 24px;">
<!--          <li><a href="" class="smoothScroll px-3"><span>Home</span></a></li> --> 
          <!-- <li><a href="{% url 'meetup_finder_app:account_login'%}" class="smoothScroll px-3"><span>Login </span></a></li> -->
          <li><a href="{% url 'meetup_finder_app:signin2'%}" class="smoothScroll px-3"><span>Login </span></a></li>
        </ul>
</nav>
</section>
<section id="home">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
  
        <div class="wow fadeInUp" data-wow-delay="0.3s" style="text-align: center;background-color: rgba(0,0,0, 0.8);padding:10px;" >
          <h1 class="wow fadeInUp" data-wow-delay="0.6s">Let's meet up!</h1>
          <p class="wow fadeInUp" data-wow-delay="0.9s">Want to be able to find events in your local area? Find where your friends are going? Sign up or Sign in below.</p>
          <a href="{% url 'meetup_finder_app:account_login'%}" class="smoothScroll btn btn-success btn-lg wow fadeInUp" data-wow-delay="1.2s">Sign up/Login</a>
        </div>
  
      </div>
    </div>
  </section>
  
  <section id="about">
    <div class="container">
      <div class="row">
  
        <div class="col-md-9 col-sm-8 wow fadeInUp" data-wow-delay="0.2s">
          <div class="about-thumb">
            <h1>About KYSA </h1>
            <p> Keeping YourSelf Aware is the website to find local events occuring in your area from social activism to music festivals. You can sign up with your Google Account or create your own </p>
          </div>
        </div>
  
        <div class="col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
          <div class="section-title text-center">
            <h1>The Team</h1>
            <h3>Project 1-23</h3>
          </div>
        </div>
  
        <div id="team-carousel" class="owl-carousel">
  
        <div class="item wow fadeInUp" data-wow-delay="0.4s" style="padding: 10px;">
          <div class="team-thumb">
            <div class="image-holder">
              <img src="{% static 'images/solimar.jpg' %}" class="img-responsive img-circle" alt="Soli" width="300" height="300">
            </div>
            <h2 class="heading"> Solimar </h2>
            <p class="description"> Developer/Scrum Master</p>
          </div>
        </div>
  
        <div class="item wow fadeInUp" data-wow-delay="0.6s" style="padding: 10px;">
          <div class="team-thumb">
            <div class="image-holder">
              <img src="{% static 'images/Kat.jpg' %}" class="img-responsive img-circle" alt="Kat" width="300" height="300" >
            </div>
            <h2 class="heading"> Kat </h2>
            <p class="description">Developer/Requirements Manager</p>
          </div>
        </div>
  
        <div class="item wow fadeInUp" data-wow-delay="0.8s" style="padding: 10px;">
          <div class="team-thumb">
            <div class="image-holder">
              <img src="{% static 'images/Yudel.png' %}" class="img-responsive img-circle" alt="Yudel" width="300" height="300">
            </div>
            <h2 class="heading">Yudel</h2>
            <p class="description">Developer/DevOps Manager</p>
          </div>
        </div>
  
        <div class="item wow fadeInUp" data-wow-delay="0.9s" style="padding: 10px;">
          <div class="team-thumb">
            <div class="image-holder">
              <img src="{% static 'images/AJ.png' %}" class="img-responsive img-circle" alt="AJ"  width="300" height="300">
            </div>
            <h2 class="heading">AJ</h2>
            <p class="description">Developer/Testing Manager</p>
          </div>
        </div>
        </div>
  
      </div>
    </div>
  </section>
  
  
<!-- goes to the top of the page -->
<!-- https://fontawesome.com/v4.7.0/icon/angle-up -->
  <a href="#" class="go-top"><i class="fa fa-angle-up"></i></a>
</body>
</html>