<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZJQ6RGoFJHdFW8gQc96N99L0tOHHJXk4&callback=initMap&libraries=&v=weekly" defer></script>
<div id="map" style="width:100%;height: 100%;"></div>

        <script>
            // Initialize and add the map
            function initMap() {        
                let locations = []

                {% for event in event_list %}
                    var content = `
                    <div id="content">
                        <div id="siteNotice"></div>
                        <h1 id="firstHeading" class="firstHeading">{{ event.event_name }}</h1> 
                        <div id="bodyContent"> 
                            <p>{{ event.event_description }}</p>
                            <br>
                            <form action="{% url 'meetup_finder_app:detail' pk=event.id %}">
                                <input type="submit" value="Details" />
                            </form>
                        </div>
                    </div>`

                    locations.push({ lat: {{event.lat}}, lng: {{event.lng}}, cont:content})
                {% endfor %}

                console.log(locations)

                map_center = {lat:0,lng:0}

                locations.map(o=> {
                    map_center.lat += o.lat;
                    map_center.lng += o.lng;
                })

                map_center.lat /= locations.length;
                map_center.lng /= locations.length;
        
                const map = new google.maps.Map(document.getElementById("map"), {
                    zoom: 15,
                    center: map_center,
                });
        
                locations.map(o=>{
                    let infowindow = new google.maps.InfoWindow({
                        content: o.cont,
                    });
                    let marker = new google.maps.Marker({
                        position: {lat:o.lat,lng:o.lng},
                        map: map,
                    });
                    marker.addListener("click", () => {
                        infowindow.open(map, marker);
                    });
                })
            }
        </script>