{%  extends 'meetup_finder_app/main.html' %}

{% block content %}

{% load static %}

<h1>Create Event Below</h1>
   
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'meetup_finder_app:createEvent'  %}" method="post">
    {% csrf_token %}
    <label>Event Name:</label><br>
    <input type="text" id="event_name_text" name="event_name_text"><br>
    <!-- Will need to get rid of this eventually since it should know the user's information-->
    <label> Organizer Name:</label><br>
    <input type="text" id="organizer" name = "organizer"><br>
    <label>Description:</label><br>
    <input type="text" id='detail_text' name="detail_text"><br>
    <label>Date:</label>
    <input type="datetime-local" id="event_time"
       name="event_time"><br>
    <label>Location (address):</label>
    <input type="text" id="address" name="address"><br>
    <input type="submit" class="btn btn-primary" value="Publish Event">

    </form>
   </body>

   {% endblock %}