{% include 'meetup_finder_app/navbar.html' %}
{% load static %}
<head>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<br>
<h2> All Events </h2>
<p> Click on the individual events to get more information!</p>
<section class="search-box">
    <div class="container-fluid">
	<div class="row">
		<div class="col-md-5 listing-block">
            {% if event_list %}
        <div class="col-md-9 " style="width: 500px;">   
            <ul>
               {% for event in event_list %}
               <hr >
               <div style="border: 2px solid black; text-align: center;">
                <u><a href="{% url 'meetup_finder_app:detail' event.id %}" >
                {{event.event_name}}</a></u> <br>
                Description: {{event.event_description}}<br>
                Time: {{event.event_date}}<br>
                <form action="{% url 'meetup_finder_app:detail' pk=event.id %}">
                    <input class="btn btn-primary" type="submit" value="More Details" />
                </form>
            </div>
                {% endfor %}
            </ul>
            
            {% else %}
                <p>No upcoming events</p>
            {% endif %}
           
            </div>
       
        
		</div>
		<div class="col-md-7 px-0" style=" max-width: 100%;
        height: auto; border: 2px solid #555; right: 70px;">
            {% include 'meetup_finder_app/multi_event_view.html' %}
        </div>
	</div>
</div>
</section>

